html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
/*СТИЛИ!!!!!!!!!!!!!!!!!!*/
body{
	font-family: Arial;
}
.wraper{
	min-height: 100vh;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}
/*Header*/
.header{
	grid-area: header;
	background: #008B8B;
	padding: 15px;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 1000px) 1fr;
	align-items: center;
}
.header__logo{
	grid-column: 2/3;
}
.header__logo img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	display: block;

}
.header__menu{
	display: grid;
	grid-column: 3/4;
	justify-items: end;
}
.header__list{
	display: grid;
	grid-auto-flow: column;
	justify-items: end;
}
.header__list li{
	margin: 0 0 0 60px;
}
.header__link{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.burger__menu{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.burger__menu:before, .burger__menu:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: #fff;
		left: 0;

	}
	.burger__menu:before{
		top: 0;
		transition: all 0.5s ease;
	}
	.burger__menu:after{
		bottom: 0;
		transition: all 0.5s ease;
	}
	.burger__menu span{
		background: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.8s ease;
	}
@media(max-width: 850px){
	.header__list{
		display: none;
	}
}
@media(min-width: 850px){
	.burger__menu{
		display: none;
	}
}


/*Основной блок*/
.main{
	background: #DCDCDC;
	padding: 30px 15px;
}
@media(min-width: 850px){
	.main{
	display: grid;
	grid-area: main;
	grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 1000px) 1fr;
	}
	.content{
	padding: 0 0 0 30px;
	grid-column: 3/4;
	}
	.sidbar{
	grid-column: 2/3;
	padding: 30px 0 0 10px;
	}
}
.sidbar{
	display: block;
	background: #FFDAB9;
}
.sidbar__list li{
	padding: 0 0 15px 0;
}
.sidbare__link{
	text-decoration: none;
	font-size: 20px;
}
.content__title{
	padding: 20px 0;
	font-size: 35px;
	font-weight: 700;	
}
/*Галлерея*/
.gallery{}
.content__gallery{
	padding: 0 0 20px 0;
}
.gallery__title{
	font-size: 22px;
	padding: 20px 0;
}
.gallery__items{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	
}
.gallery__item{
	position: relative;
	padding: 0 0 85% 0;
}
.gallery__item img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media(min-width: 650px){
	.gallery__item_big{
		grid-column: span 2;
		grid-row: span 2; 
	}
}

/*Товары*/
.products__title{
	font-size: 22px;
	padding: 20px 0;
}
.products__items{
	display: grid;
	row-gap: 50px;
	column-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media(min-width: 550px){
	.products__items{
		grid-auto-rows: 1fr;
	}
}
.products__item{
	background: #00BFFF;
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products__image{
	position: relative;
	padding: 0 0 93% 0;
	margin: 0 0 20px 0;
}
.products__image img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.products__name{
	font-size: 20px;
	line-height: 28px;
	color: #fff;
	padding: 0 0 15px 0;
	font-weight: 700;
}
.products__button{
	color: #fff;
	justify-self: start;
	font-size: 18px;
	text-transform: uppercase;
	background: #DC143C;
	padding: 10px;
}
/*FOOTER*/
.footer{
	padding: 0 20px;
	font-size: 20px;
	display: grid;
	grid-area: footer;
	background: #B8860B;
	align-items: center;
}	
@media(min-width: 550px){
	.footer{
		grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 1000px) 1fr;
	
	}
	.footer__copy{
	grid-column: 2/3;
}
.footer__text{
	text-align: right;
	grid-column: 3/4;
	}
}
@media(max-width: 550px){
	.footer{
		grid-template: 1fr 1fr / 1fr;
		text-align: center;
	}
	.footer__text{
		order: 1;
	}
	.footer__copy{
		order: 2;
	}
}